<div class="container">
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>{{incident['reported_by']}}</td>
                <td>{{incident['reportee_contact']}}</td>
                <td>{{incident['reportee_address']}}</td>
                <td>{{incident['incident_type']}}</td>
                <td>{{incident['incident_date']}}</td>
                <td>{{incident['incident_date']}}</td>
            </tr>
        </tbody>
    </table>
</div>
