<div class="container">  
    <table id="reportData">
        
        <caption>
            <h5 class="title">Incident Report</h5>
            <h5 class="report-header">Incident Detail Report</h5>
        </caption>
        <tbody>
            <tr>
                <th>Report ID</th>
                <td class="re-id">{{reports['id']}}</td>
            </tr>
            <tr>  
                <th>Reported By</th>
                <td>{{reports['reported_by']}}</td>
            </tr>
            <tr>
                <th>Reportee Contact</th>
                <td>{{reports['reportee_contact']}}</td>
            </tr>
            <tr>
                <th>Reportee Address</th>
                <td>{{reports['reportee_address']}}</td>
            </tr>
            <tr>
                <th>Incident Type</th>
                <td>{{reports['incident_type']}}</td>
            </tr>
            <tr>
                <th>Incident Date</th>
                <td>{{reports['incident_date'] | date}}</td>
            </tr>
            <tr>
                <th>Incident Location</th>
                <td>{{reports['location']}}</td>
            </tr>
            <tr>
                <th>Incident Description</th>
                <td>{{reports['incident_description']}}</td>
            </tr>
            <tr>
                <th>Witnesses</th>
                <td>{{reports['witnesses']}}</td>
            </tr>
            <tr class="btn-row">
                <button class="btn" (click)="delete()">Delete Report</button>
            </tr>
        </tbody>
    </table>

</div>
<!-- <ng-template #noData>
    <div style="padding-top: 5px; text-align: center;" >
        <h1 style="font-weight: bold;">No Records Found</h1>
    </div>
</ng-template> -->

