<footer class="footer">

    <h1 class="logo">incident report</h1>

    <div class="info">

        <div class="contact">

            <h3>contact</h3>
            <p>
                <a href="mailto:">email: anemail@gmail.com</a>
                <a href="tel:">phone: +1(876)-457-9497</a> 
                <a href="tel:">911</a>
            </p>

        </div>

        <div class="links">

            <h3>links</h3>
            <a routerLink="/" class="nav">home</a>
            <a routerLink="/form" class="nav">form</a> 
            <a routerLink="/contact" class="nav">contact</a>
            <a routerLink="/about" class="nav">about</a>

        </div>



    </div>

</footer>
<footer class="sec">
    <p>
        Made By <a href="">Tajay Robertson</a>
    </p>
</footer>
