<main class="about">

    <section class="abt-head">
        <h1 class="abt-title">about us</h1>
    </section>

    <section class="abt-para-con">
        <p class="abt-para">
            We aim to make your life safer as well as a little bit easier. With this website you will be able to eleminate the tedious task of going to the station and having to fill out an incident form on paper. You can now do it from your mobile device and once completed the report will be sent directly to the system, and if you wish to save a copy of the form, an option to download a copy will be present.
        </p>
    </section>

</main>