<main class="about">

    <section class="abt-head">
        <h1 class="abt-title">about us</h1>
    </section>

    <section class="abt-para-con">
        <p class="abt-para">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit fuga accusamus, sint pariatur labore qui possimus placeat perferendis delectus, error voluptatibus reprehenderit mollitia sapiente soluta numquam, earum repudiandae velit eos quasi culpa doloremque asperiores voluptates voluptatem. Cum, blanditiis nulla, ut aliquid aut ex nesciunt et distinctio, obcaecati dolorem laboriosam reiciendis!
        </p>
    </section>

</main>