.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: snow;
}

form {
    padding: 10px;
    border: 2px solid ;
    width: 350px;
    height: 750px;
    display: flex;
    flex-direction: column;
}

label {
    margin-right: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

.adrs {
    width: 300px;
    height: 150px;
    resize: none;
    padding: 5px;
}