<!--& HERO SECTION -->
<section class="hero">
    <h3 class="cn">
        police incident <br> report
    </h3>

    <h2 class="rn">
        Incident reports made easy
    </h2>

    <button routerLink="/form" class="hero-btn">forms</button>
</section>

<!--& EG -->
<section class="short">
    <h1 class="sh-heading">easy incident reports</h1>

    <h3 class="sh-sub">Use our templates for fast and easy reports</h3>


    <div class="report-con">
        <!-- <h6 class="sh-title">incident report</h6> -->
        <img src="/assets/report_eg 2.png" alt="">

        <!-- <h6 class="sh-title">incident report</h6> -->
        <!-- <img src="/assets/report_eg 2.png" alt=""> -->

        <!-- <h6 class="sh-title">incident report</h6> -->
        <!-- <img src="/assets/report_eg 2.png" alt=""> -->
    </div>
</section>